@import '~bootstrap/scss/bootstrap';

.content {
  max-width: 900px;
  margin: 20px auto;
}

.searchForm {
  text-align: center;

  .searchLabel {
    font-size: 20px;
  }

  .searchInput {
    max-width: 50%;
    margin: 0 auto;
  }
}